nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #f0f0f0;
    padding: 10px 0;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .nav-link.active {
    color: #007bff;
  }
  


  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* More modern font */
    background-color: #f4f4f4; /* Lighter background */
    text-align: center;
    margin: 0;
    padding-top: 20px; /* Added some padding at the top */
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #007bff; /* Primary color for nav */
    padding: 10px 0;
}

.nav-link {
    text-decoration: none;
    color: #ffffff; /* Contrast color for links */
    font-weight: bold;
}

.nav-link.active, .nav-link:hover {
    color: #ffdd57; /* Highlight for active link or on hover */
}

h1 {
    color: #333;
    margin-bottom: 20px; /* More space below the title */
}

#leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Increased gap for better spacing */
}

.leaderboard-entry {
    border: 1px solid #ddd;
    padding: 15px; /* More padding for better readability */
    width: 80%;
    max-width: 600px; /* Max width to avoid too wide entries on large screens */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #ffffff; /* Background for entries */
    transition: transform 0.2s; /* Smooth transition for hover effect */
}

.leaderboard-entry:hover {
    transform: translateY(-5px); /* Lift effect on hover */
}

.entry-name {
    font-size: 1.1em; /* Make the name slightly larger */
    font-weight: bold; /* Make the name bold */
    margin-bottom: 5px; /* Space between the name and the rank/ELO */
}

.entry-rank-elo {
    font-size: 0.9em; /* Smaller font size for rank and ELO */
    color: #555; /* Slightly dimmed color for less emphasis */
}

.profile-link {
    display: inline-block;
    margin-top: 10px;
    color: #007bff; /* Link color */
    text-decoration: none; /* Removes underline */
    font-size: 0.9em;
}

.profile-link:hover {
    text-decoration: underline; /* Adds underline on hover for better interaction */
}

.battle-entry {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.battle-entry {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.team {
    margin-top: 10px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

#battle-history {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.pvp-column {
    width: 30%;
}